.wear__container {
    padding: 29px 277px 31px 280px;
}

.wear__group {
    padding: 0;
    max-width: 1560px;
}

.wear__logo {
    padding: 0;
}

.wear__navigation-list {
    column-gap: 44px;
}

.wear__navigation-link {
    color: #ffffff;

    &:hover,
    &:focus {
        color: #ffffff;
        opacity: 0.7;
    }
}

.wear__navigation-dropdown .nav-link {
    color: #ffffff;
    
    &:hover,
    &:focus {
        opacity: 0.7;
    }
}

.wear__navigation-dropdown .nav-link.show {
    opacity: 0.7;
    color: #ffffff;
}

.wear__user-wrapper {
    column-gap: 14px;
}

.wear__toolbar-wrapper {
    display: flex;
    align-items: center;
    transition: 1s ease;
}

.wear__toolbar-group {
    width: 100%;
}

.wear__toolbar-group-hidden {
    width: 0;
    visibility: hidden;
    margin: 0;
    height: 0;
}

.wear__toolbar-price {
    color: #8C8F96;
    margin-right: 5px;
    margin-top: 6px;
    font-family: "Cera Pro", sans-serif;
    font-size: 13px;
    line-height: 10px;
    font-weight: 700;
}

.wear__toolbar-count {
    color: #ffffff;
    background-color: #49d0ff;
    font-family: "Cera Pro", sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    width: 18px;
    height: 18px;
    padding: 3px;
}