.personal__user-edit {
    padding: 0;
    padding-top: 3px;
    padding-right: 113px;
    width: 1007px;
}

.personal__user-edit-title {
    color: #303030;
    font-size: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    margin-bottom: 30px;
}

.personal__user-edit-row {
    gap: 28px;
    margin-left: 0;
    margin-bottom: 25px;
}
