.login {
    padding: 80px 0 118px;
}

.login__title {
    font-size: 31px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: "RF Dewi Expanded";
    line-height: 42px;
    margin: 0;
    margin-bottom: 46px;
}

.login__group {
    display: flex;
    column-gap: 30px;
}
